
@{
    ViewBag.Title = "Scuad - Portal";
}
@model Scuad.ViewModel.ChargeViewModel

@Html.ActionLink("Página Inicial", "Home", "Charge", new { @class = "nav-tags" })
@Html.ActionLink("Usuários", "Users", "Charge", new { @class = "nav-tags" })
<h1>Cargos</h1>
<hr />
<p>Insira o nome de um cargo:</p>
@using(Html.BeginForm("SaveCharge", "Charge"))
{
    <div class="input-group mb-3">
        @Html.TextBoxFor(model => model.Charge.Name, new { @class = "form-control", placeholder = "Cargo" })
    </div>
    <div style="color:red">
        @ViewBag.Error
    </div>
    <input type="submit" class="btn btn-primary" style="margin-top: 20px;" value="Salvar">
}
<hr />
<br />
@Html.Partial("ChargeParcialView", Model)


