
@{
    ViewBag.Title = "Scuad - Portal";
}

@model Scuad.ViewModel.UsersViewModel

@Html.ActionLink("Página Inicial", "Home", "Users", new { @class = "nav-tags" })
@Html.ActionLink("Cargos", "Charge", "Users", new { @class = "nav-tags" })
<h1>Usuários</h1>
<hr />
@using (Html.BeginForm("SaveUser","Users")) {
    <p>Insira um usuário:</p>
    <div style="display: flex; align-items:flex-start; flex-direction: row">
        <div class="input-group mb-3">
            @Html.TextBoxFor(model => model.Users.UserName, new { @class = "form-control", placeholder = "Usuário" })
        </div>
        @Html.DropDownListFor(model => model.Users.Charges.Name,
                     new SelectList(Model.Charges.Select(c => c.Name)),
                     "Escolha um cargo",
                     new { @class = "form-control", style = "margin-left: 20px;" })

    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Salvar">
}
<hr />
<br />
@Html.Partial("UsersParcialView", Model)

